<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeWebApp.styles.css" asp-append-version="true" />
  </head>
  <body >

    
    @* <p style="background-color: rgb(57, 50, 40);">Hello Welcome</p> *@
    <div class="main" style="background-color: rgb(254, 254, 209); padding:0;">

            <div class="men_text" style="font-size: xx-large;">
                <h1><span>Yum Spot</span><br>&nbsp;Restaurant</h1>
            </div>

            <div class="main_image">
                <img src="image/main_img.png">
            </div>

        </div>

        

        @* <div class="main_btn">
            <a href="#">Check Menu</a>
            <i class="fa-solid fa-angle-right"></i>
        </div> *@
  </body>
</html>
        