@* 
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main-container" class="main-container">
  <div class="about" id="About">
    <div class="about_main">
      <div class="image">
        <img src="~/image/Food-Plate.png" width="300px" height="400px" style="background-color: aliceblue;">
      </div>
      <div class="about_text container py-5 px-4 bg-light">
        <h1 class="mb-4"><span>About</span>Us</h1>
        <h3 class="mb-3">Why Choose us?</h3>
        <p style="background-color: bisque;">Our online food ordering restaurant is dedicated to providing customers with the best quality food, prepared with fresh ingredients and delivered promptly. Thank you for choosing us, and we look forward to serving you!</p>
      </div>
    </div>
    <a href="#" class="about_btn">Order Now</a>
  </div>
</main> *@

<div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="~/image/Food-Plate.png">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    Our online food ordering restaurant is dedicated to providing customers with the best quality food, prepared with fresh ingredients and delivered promptly. Thank you for choosing us, and we look forward to serving you!
                </p>
            </div>

        </div>

        <a href="#" class="about_btn">Order Now</a>

    </div>
