
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <section id="blog" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title text-center">Latest Blog Posts</h2>
        <div class="section-subtitle text-center">Stay updated with our latest news</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-thumb">
            <img src="https://via.placeholder.com/800x500.png?text=Blog+Image" alt="blog post image">
          </div>
          <div class="blog-content">
            <h3 class="blog-title">Blog Post Title</h3>
            <div class="blog-meta">Posted by Admin | March 10, 2023 | Category</div>
            <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-thumb">
            <img src="https://via.placeholder.com/800x500.png?text=Blog+Image" alt="blog post image">
          </div>
          <div class="blog-content">
            <h3 class="blog-title">Blog Post Title</h3>
            <div class="blog-meta">Posted by Admin | March 10, 2023 | Category</div>
            <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-thumb">
            <img src="https://via.placeholder.com/800x500.png?text=Blog+Image" alt="blog post image">
          </div>
          <div class="blog-content">
            <h3 class="blog-title">Blog Post Title</h3>
            <div class="blog-meta">Posted by Admin | March 10, 2023 | Category</div>
            <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
