<!--Gallary-->

<body>
    
  <div class="gallary" id="Gallary">
        <h1>Our<span>Gallery</span></h1>
        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="~/image/gallary_1.jpg">
                @* <a href="#" class="gallary_btn">Order Now</a> *@
            </div>

            <div class="gallary_image">
                <img src="~/image/gallary_2.jpg">
                @* <a href="#" class="gallary_btn">Order Now</a> *@
            </div>

            <div class="gallary_image">
                <img src="~/image/gallary_3.jpg">
                @* <a href="#" class="gallary_btn">Order Now</a> *@
            </div>

            <div class="gallary_image">
                <img src="~/image/gallary_4.jpg">
                @* <a href="#" class="gallary_btn">Order Now</a> *@
            </div>

            <div class="gallary_image">
                <img src="~/image/gallary_5.jpg">
                @* <a href="#" class="gallary_btn">Order Now</a> *@
            </div>

            <div class="gallary_image">
                <img src="~/image/gallary_6.jpg">
                @* <a href="#" class="gallary_btn">Order Now</a> *@
            </div>
        </div>
    </div>
    <br>
    <br>

</body>

    